# Spring Boot sensitive files

.env
.secrets/

# Logs
*.log

# Node / React
/node_modules/
npm-debug.log*
yarn-error.log*

# Frontend build
/dist/
/build/

# OS files
.DS_Store
Thumbs.db

# Ignore IDE / Editor files (you already have these)
.idea/
*.iws
*.iml
*.ipr
.vscode/
